---
layout: default
---

{% if paginator.previous_page %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous-arrow fa fa-long-arrow-left"></a>
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>
    {% endif %}
    <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
    <a href="{{ paginator.next_page_path }}" class="next-arrow fa fa-long-arrow-right"></a>
    {% endif %}
</div>
{% endif %}

<div class="posts">
    {% for post in paginator.posts %}
    <article class="post">
        <header>
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%e %B %Y" }}</time>
        </header>
        <div class="entry">
            {{ post.excerpt | append:  }}
            &nbsp;<a href="{{ site.baseurl }}{{ post.url }}" class="read-more fa fa-long-arrow-right"></a>
        </div>
    </article>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous fa fa-long-arrow-left"></a>
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>
    {% endif %}
    <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
    <a href="{{ paginator.next_page_path }}" class="next fa fa-long-arrow-right"></a>
    {% endif %}
</div>