---
---
$background: #ffffff;
$section: #d7cdcc;
$text: #35212B;
$highlight: #dfcc74;
$lowlight: #75485e;

body {
    padding-top: 1vw;
    padding-bottom: 2vw;
    background-color: $background;
    color: $text;
}

.header,
.main,
.footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1 solid $highlight;
    text-align: center;
}

.header {
    .navbar-brand {
        padding: 0px;
        display: flex;
        align-items: center;

        > img {
            height: 100%;
            width: auto;
            padding: 7px 14px;
        }
    }

    .navbar-default {
        border-color: $highlight;
    }
}

.pagination {
    display: flex;
    padding: 1em;
    margin: 20px 0;
    justify-content: space-between;
    border: 1px solid #dfcc74;
    background: #f8f8f8;

    >* {
        flex-grow: 1;
        text-align: center;
    }
    .page_number {
        flex-grow: 5;
    }
}

article {
    header {
        text-align: center;
        border-bottom: 1px solid $highlight;
        margin-bottom: 1em;
    }
}

.entry {
    text-align: justify;

    img {
        max-width: 100%;
    }
    
    a:last-child {
        float: right;
    }
}

h1 a, h2 a, h3 a, h4 a {
    color: inherit;
}

.tests {
    padding: 1em;
    border: solid 1px $lowlight;
    display: inline-block;
    border-left-width: 1em;
    border-radius: 1em;

    dl {
        margin: 0;
    }

    dt:before {
        font-family: FontAwesome;
        content: '\f0dd';
        display: inline-block;
        padding-right: .5em;
    }

    ul {
        list-style: none;
    }

    li:before {
        font-family: 'FontAwesome';
        content: '\f058';
        margin: 0 5px 0 -15px;
        color: green;
    }
}

.tags {

    display: flex;
    justify-content: space-around;
    border: 0;

    span{
      border: 1px solid;
      border-radius: 2em;
      padding: .125em 1em;
      background-color: #35212B;
      color:#d7cdcc;
    }

    span:before {
      font-family: 'FontAwesome';
      content: '\f02b';
      margin-right: 5px;
    }
}


@import "highlights";
@import "svg-icons";
