---
---
$background: #ffffff;
$section: #d7cdcc;
$text: #35212B;
$highlight: #dfcc74;
$lowlight: #75485e;
$xxx-large: 3.157em;
$xx-large: 2.369em;
$x-large: 1.777em;
$large: 1.333em;
$small: 0.618em;

html {
    font-size: 1.125em;
}

body {
    padding: 0;
    background-color: $background;
    color: $text;
    line-height: 1.45;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header,
.main,
.footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    display: block;
}

.footer {
    padding-top: 1em;
    color: $section;
    border-top: 1 solid $highlight;
    text-align: center;
}


p {margin-bottom: 1.3em;}
a, a:visited {
    color: inherit;
    text-decoration: none;
    color: #23527c;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
    margin-top: 0;
    font-size: $xxx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5em;
}
h2 {font-size: $xx-large;}
h3 {font-size: $x-large;}
h4 {font-size: $large;}
small, .font_small {font-size: $small;}

blockquote {
    font-size: inherit;
    max-width: 67%;
    margin-left: auto;
    margin-right: auto;
    border-left: solid #23527c .5em;
    border-top-left-radius: .5em;
    padding-left: .5em;
}

code {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 1em 0;
}

aside.seriesToc {
    font-size: 75%;
    float: right;
    border: 1px solid black;
    border-radius: 1em 0;
    padding: 1em;
}

@import 'site-template';

.pagination {
    display: flex;
    padding: 1em;
    margin: 20px 0;
    justify-content: space-between;
    border: 1px solid #dfcc74;
    border-radius: .25em;
    background: #f8f8f8;
    text-decoration: none !important;

    >* {
        flex-grow: 1;
        text-align: center;
    }
    .page_number {
        flex-grow: 5;
    }
}

.posts .post {
    border-bottom: 1px solid $highlight;
    padding-bottom: 3em;
    margin-bottom: 3em;

    p::first-letter {
        color: #dfcc74;
        font-size: 6rem;
        line-height: 4rem;
        float: left;
    }

    .entry {
        text-align: justify;
    }
}

article {
    header {
        text-align: center;
        margin-bottom: 1em;
    }
}

.entry {
    img {
        max-width: 100%;
    }

    .read-more {
        float: right;
        margin-top: -10px;
        color: $lowlight;
    }

    a, a:visited{
        text-decoration: dashed;
    }
}

.category-summary {
    padding-bottom: 1em;
    border-bottom: solid 1px $lowlight;
}

.centered {
    text-align: center;
}
.float-left {
    float:left;
}
img.float-left {
    margin-right: 1em;
}
.float-right {
    float:right;
}
img.float-right {
    margin-left: 1em;
}

.tests {
    padding: 1em;
    border: solid 1px $lowlight;
    display: inline-block;
    border-left-width: 1em;
    border-radius: 1em;

    dl {
        margin: 0;
    }

    dt:before {
        font-family: 'FontAwesome';
        content: '\f0dd';
        display: inline-block;
        padding-right: .5em;
    }

    ul {
        list-style: none;
    }

    li:before {
        font-family: 'FontAwesome';
        content: '\f058';
        margin: 0 5px 0 -15px;
        color: green;
    }
}

.tags {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0;
    font-size: $small;

    span{
      border: 1px solid;
      border-radius: 1em;
      padding: .125em 1em;
      background-color: #35212B;
      color:#d7cdcc;
    }

    span:before {
      font-family: 'FontAwesome';
      content: '\f02b';
      margin-right: 5px;
    }
}

table.bordered{
    border: 1px solid $lowlight;
    border-collapse: collapse;

    td{
        border: 1px solid $lowlight;
        padding: 0 1em 0 .5em;
    }
}

@media (max-width: 750px) {
    .sitename, .pager-text {
        display: none;
    }
}
@media all and (max-width: 600px){
    nav.navbar .navigation ul  {
        flex-flow: column wrap;
        padding: 0;

        li {
            padding: 0;
        }
    }
}

@import "highlights";
@import "svg-icons";
