---
layout: post
---

{{ content }}

<em>Tutorial last updated <time datetime="{{ page.last_updated | date: "%F" }}">{{ page.last_updated | date: "%e %B %Y" }}</time>.</em>

<ul>
{% for tutorial in site[page.guide] %}
    <li><a href="#{{ tutorial.title | slugify:'ascii' }}">{{ tutorial.title }}</a></li>
{% endfor %}
</ul>

{% for tutorial in site[page.guide] %}
<article id="{{ tutorial.title | slugify:'ascii' }}">
    <h2>{{ tutorial.title }}</h2>
    <section>
    {{ tutorial.content | markdownify }}
    </section>
</article>
{% endfor %}