---
layout: default
---

<article class="post">
    <header>
        <h2>{{ page.title }}</h2>
        <time datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%e %B %Y" }}</time>
        &mdash;
        <span class="category">{{ page.category }}</span>
    </header>
    <div class="entry">
        {{ content }}
    </div>

    {% if page.tags %}
    <aside class="tags">
        {% for tag in page.tags %}
        <span>{{ tag }}</span>
        {% endfor %}
    </aside>
    {% endif %}

    {% include disqus.html %}
</article>