---
layout: default
---

<article class="post">
    <div class="category"><i class="fa fa-cube" aria-hidden="true"></i>{{ page.category }}</div>
    <h1>{{ page.title }}</h1>
    <div class="entry">
        {{ content }}
    </div>

    <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    <section class="tags">
        {% for tag in page.tags %}
        <span class="tag">
            <i class="fa fa-tag"></i>{{ tag }}
        </span>
        {% endfor %}
    </section>

    {% include disqus.html %}
</article>
